{{ define "main" }}
{{ partial "back_link.html" .}}

{{- range $c := .Params.categories -}}
{{ $c := lower $c }}
{{ $url := printf "/categories/%s/" $c | absURL }}
<a href="{{ $url }}">|--{{ $c }}</a>
{{- end -}}

{{ if .Store.Get "hasMermaid" }}
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
</script>
{{ end }}

<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>

        <span id="busuanzi_container_page_pv">
            |欢迎您，第<span id="busuanzi_value_page_pv"></span>位读者！|
        </span>
    </p>

    <h1>{{ .Title }}</h1>


    {{ if .Params.toc }}
    <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
        {{ .TableOfContents }}
    </aside>
    {{ end }}


    {{ .Content }}
</article>
<hr>

<ul>
    <li>
        <span id="busuanzi_container_site_pv">
            本站总访问量：<span id="busuanzi_value_site_pv"></span>次
        </span>
    </li>
    <li>

        <span id="busuanzi_container_site_uv">
            本站总访客数：<span id="busuanzi_value_site_uv"></span>人
        </span>
    </li>
    <li>可通过邮件联系作者：<a href="mailto:qchen2015@hotmail.com?subject=About%20your%20Github%20Pages%20blog">Email大福</a></li>
    <li>也可以访问技术博客：<a href="https://blog.csdn.net/withstand?type=blog">大福是小强</a></li>
    <li>也可以在知乎搞抽象：<a href="https://www.zhihu.com/people/withstand_df">知乎-大福</a></li>
    <li>
        Comments, requests, and/or opinions go to: <a
            href="https://github.com/qchen-fdii-cardc/qchen-fdii-cardc.github.io/issues">Github Repository</a>

    </li>
</ul>
{{ end }}