{{ define "main" }}
{{ partial "back_link.html" .}}

{{ if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}

<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>


    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}


    {{ .Content }}
</article>

<hr>
<ul>
<li><a href="mailto:qchen2015@hotmail.com?subject=About%20your%20Github%20Pages%20blog">Want to contact the author?</a></li>   
<li><a href="https://blog.csdn.net/withstand?type=blog">CSDN blogs</a></li>
</ul>


{{ end }}


