/public/
/.vscode/
*/public/
/scratchs/
**/.idea/*
**/.vscode/*
*/.idea/*
*/.vscode/*
/resources/
*/resources/*
*/.git/*
*/.gitignore/*
*/.gitattributes/*
*/.gitmodules/*
*/.gitconfig/*
*/.gitkeep
**/temp-files/*