/public/
/.vscode/
*/public/
/scratchs/
**/.idea/*
**/.vscode/*
*/.idea/*
*/.vscode/*
/resources/
*/resources/*
*/.git/*
*/.gitignore/*
*/.gitattributes/*
*/.gitmodules/*
*/.gitconfig/*
*/.gitkeep
*.asv
*.Identifier
*副本*
**/.gradle/*
**/.kotlin/*
**/build/*
**/target/*
**/.cache/*
**/.gradle/*
**/.kotlin/*
**/.vscode/*