{{ define "main" }}

<header>
        <h1>{{ $.Site.Title }}</h1>
        {{- if $.Site.Params.theme_config.show_description -}}
        <p>{{ $.Site.Params.description }}</p>
        {{- end -}}
</header>
{{ .Content }}
{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}


<div style="text-align: center">
        <span id="busuanzi_container_site_pv" style="border: dashed pink;">
                本站总访问量<span id="busuanzi_value_site_pv"></span>次
        </span></li>

        <span id="busuanzi_container_site_uv" style="border: dashed pink;">
                本站总访客数<span id="busuanzi_value_site_uv"></span>人
        </span>
</div>
<div style="text-align: center">由<a href="https://busuanzi.ibruce.info">不蒜子</a>提供访问统计支持</div>
<div style="font-size: large;font-weight: bold;">Comments, requests, and/or opinions go to: <a
                href="https://github.com/qchen-fdii-cardc/qchen-fdii-cardc.github.io/issues">Github Repository</a>
</div>
{{ end }}