{{ define "main" }}

<header>
    <h1>{{ $.Site.Title }}</h1>
    {{- if $.Site.Params.theme_config.show_description -}}
    <p>{{ $.Site.Params.description }}</p>
    {{- end -}}
</header>
{{ .Content }}
{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}

<div style="font-size: large;font-weight: bold;">Comments, requests, and/or opinions goes to: <a
        href="https://github.com/qchen-fdii-cardc/qchen-fdii-cardc.github.io/issues">Github Repository</a>
</div>
{{ end }}